.know-more {
  font-family: var(--font--belleza);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #100058;
  text-decoration: none;
  text-transform: uppercase;
}

/*---------Popup ad css--------------------------------------*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  background-color: transparent; /* Removed the white background */
  padding: 0; /* Removed padding */
  max-width: 400px;
  text-align: center;
  position: relative;
}

.popup-content img {
  max-width: 100%;
  height: auto;
}

#buyButton {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 1px;
  right: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: white; /* Changed to white for better visibility */
  background-color: rgba(0, 0, 0, 0.7); /* Added a dark background */
  padding: 2px 5px; /* Added padding for better spacing */
  border-radius: 50%; /* Rounded corners for aesthetic */
}

/*-----------------------------------------------*/

.press {
  padding: 50px 0;
  padding: 200px 0;
  padding-top: 80px;
  position: relative;
  position: relative;
  background: url("../images/menu-page-banner.jpg") no-repeat center center;
  background-size: cover;
}

.press h4 {
  font-style: normal;

  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  color: #00030e;
  margin: 0 0 20px;
}

.press h3 {
  font-family: var(--font--lamarkie);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 25px;
}
/* 
TODO: This is where the flag styling was added for special menu for Norway Independence Day, 
also check mobile css near the bottom of this file --> */
*/

/* .flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row; /* updated property */
/* } */ 

/* .flag-text {
  font-family: var(--font--belleza);
  font-style: bold;
  font-weight: 400;
  font-size: 30px;
  line-height: 200%;
  letter-spacing: 2px;
  color: #e4cd1f;
  position: relative;
  margin-top: 10px;
} */

/* .flag-container a {
  text-decoration: none;
} */

.know-more::after {
  content: "";
  display: inline-block;
  background: url("../images/left-arrow.png") no-repeat center center;
  width: 20px;
  height: 20px;
  background-size: 15px auto;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.know-more.no-arrow::after {
  display: none;
}

.banner {
  background-color: #0b1c4f;
  background-image: url("../images/main-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner h1 {
  font-family: var(--font--lamarkie);
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 0;
}

.banner h1 p.small-title {
  font-size: 25px;
  font-family: var(--font--lamarkie);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 0 0 100px;
}

.banner h1 span {
  font-family: var(--font--cherolina);
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  display: block;
  color: #ffffff;
}

.banner .btn-link {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 40px;
  font-family: var(--font--belleza);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 5px;
  color: #ffffff;
  border: 1px solid #fff;
  padding: 15px 25px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  text-transform: uppercase;
  text-decoration: none;
}

.about {
  padding: 200px 0;
  position: relative;
}

.about .about-img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
}

.about .about-img-small {
  display: none;
}

.about .about-text {
  float: right;
}

.about .about-main-text {
  display: flex;
  position: relative;
}

.about .about-main-text h2 {
  font-family: var(--font--lamarkie);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 2px;
  color: #022eb9;
}

.about .about-main-text h2:first-child {
  margin-right: 20px;
}

.about .about-main-text h2 span {
  display: block;
  font-family: var(--font--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.about p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #00051a;
  margin: 20px 0 30px;
  max-width: 530px;
}

.about .vertical-line {
  width: 4px;
  height: 110px;
  display: inline-block;
  margin: 0 4px;
  background: radial-gradient(1831.88% 35.36% at 49.99% 49.99%, #ffec00 0%, #ffec00 0.21%, #e5cb2c 14.42%, #d1b43a 29.86%, #c3a440 47.2%, #bb9b42 67.79%, #b99843 100%);
}

.about .vertical-line.no-animate {
  display: none;
}

.about .vertical-line-last {
  margin-right: 60px;
}

.section-food-menu {
  background: url("../images/menu-bg.png") no-repeat center center;
  padding-top: 80px;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.section-food-menu h3 {
  font-family: var(--font--lamarkie);
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 100px;
}

.section-food-menu h3 span {
  display: block;
  font-family: var(--font--cherolina);
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 90px;
  text-align: center;
  color: #ffffff;
}

.food-menu-mobile {
  display: none;
}

.food-menu .menu-box {
  min-height: 500px;
  max-width: 400px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 320px 320px 0px 0px;
  border: 1px solid #fff;
  border-bottom: 0;
  position: relative;
}

.food-menu .menu-box::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.22);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 320px 320px 0 0;
}

.menu-box h5 {
  font-family: var(--font--belleza);
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 95px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.menu-box span {
  font-family: var(--font--belleza);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.full-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 320px 320px 0 0;
  display: block;
  z-index: 1;
}

.section-takeaway {
  padding: 200px 0;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.section-takeaway .takeaway-img {
  max-width: 600px;
  position: absolute;
  right: 0;
  bottom: 100px;
}

.section-takeaway .takeaway-img-small {
  display: none;
}

.section-takeaway h3 {
  font-family: var(--font--lamarkie);
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 55px;
  line-height: 110px;
  letter-spacing: 2px;
  color: #022eb9;
  margin: 0 0 20px;
}

.section-takeaway .takeaway-text {
  padding-left: 35px;
  text-align: center;
}

.section-takeaway .takeaway-text h5 {
  font-family: var(--font--lamarkie);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: normal;
  letter-spacing: 2px;
  color: #00051a;
  margin: 0 0 5px;
  padding: 5px 5px;
}

.section-takeaway .sub-title {
  font-family: var(--font--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 15px;
  text-transform: uppercase;
  display: block;
  color: #022eb9;
}

.section-takeaway p {
  font-style: normal;
  font-weight: 350;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  color: #00051a;
  margin: 0 0 50px;
  text-decoration: none;
  display: block; 
}

.section-takeaway a {
  background-color: #e0e0e0;
  padding: 9px 10px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 5px;
  text-align: center;
  margin: 0 0 50px;
  display: inline-block;
  text-decoration: none;
  color: #00030e;
}

.section-takeaway a[href^="tel:"]:before {
    content: "\260E"; /* Adds a telephone icon before the link */
    margin-right: 5px;
  }

.flowers {
  background: url("../images/flower.png") no-repeat center center;
  width: 220px;
  height: 100px;
  background-size: auto 100px;
  position: absolute;
  bottom: -50px;
  left: 100px;
}

.section-chef {
  background: url("../images/chef-bg.png") no-repeat center center;
  background-size: cover;
  padding: 125px 0;
  position: relative;
}

.section-chef h4 {
  font-family: var(--font--lamarkie);
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100px;
  letter-spacing: 2px;
  color: #00030e;
  margin: 0 0 40px;
}

.section-chef .sub-title {
  font-family: var(--font--cherolina);
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  color: #00030e;
}

.section-chef p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #00030e;
  margin-bottom: 30px;
  max-width: 550px;
}

.section-chef .chef-img {
  border-radius: 8px;
  position: relative;
  max-width: 490px;
  margin-top: 50px;
}

.section-chef .chef-img img {
  border-radius: 8px;
  z-index: 1;
  position: relative;
  border: 3px solid #ffffff;
}

.section-chef .chef-img::before {
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
  border-radius: 8px;
}

.section-catering {
  background: url("../images/catering.png") no-repeat center right;
  background-size: 500px auto;
  padding: 125px 0;
}

.section-catering .catering-content {
  max-width: 700px;
  margin: 0 auto; /* This centers the div */
  text-align: center;
  margin-top: 0; /* If you want to also center the text inside the div */
}

.section-catering h4 {
  font-family: var(--font--lamarkie);
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 120px;
  text-align: center;
  letter-spacing: 2px;
  color: #022eb9;
  margin: 0 0 140px;
}

.section-catering .sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #022eb9;
  margin-bottom: 100px;
}

.section-catering p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28wpx;
  text-align: center;
  margin: 0 0 30px;
}

.section-catering .catering-content a {
  background-color: #e0e0e0;
  padding: 9px 10px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 5px;
  text-align: center;
  margin: 0 0 5px;
  display: inline-block;
  text-decoration: none;
  color: #00030e;
}

.section-catering .catering-content a[href^="tel:"]:before {
  content: "\260E"; /* Adds a telephone icon before the link */
  margin-right: 5px;
}

.section-catering .catering-content a[href^="mailto:"]:before {
  content: "\2709"; /* Adds an envelope icon before the link */
  margin-right: 5px;
}

.section-catering h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #00030e;
  margin: 0 0 20px;
}

.section-catering h5 {
  font-family: var(--font--lamarkie);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* text-align: center; */
  line-height: normal;
  letter-spacing: 2px;
  color: #00030e;
  margin: 0 0 5px;
  padding: 5px 5px;
}

@media screen and (max-width: 1200px) {
  .about .about-text {
    padding-right: 40px;
  }

  .section-takeaway .takeaway-img,
  .about .about-img {
    max-width: 500px;
  }

  /* .flag-container {
    padding-top: 20px;
    padding-bottom: 35px;
  } */
}

@media screen and (max-width: 1120px) {
  .about {
    background-size: 35% auto;
  }

  .section-takeaway .takeaway-img,
  .about .about-img {
    max-width: 40%;
  }
  /* .flag-container {
    padding-top: 20px;
    padding-bottom: 35px;
  } */
}

@media screen and (max-width: 1025px) {
  .container {
    padding: 0 15px;
  }
  /* .flag-container {
    padding-top: 20px;
    padding-bottom: 35px;
  } */

  .section-food-menu h3,
  .banner h1 {
    font-size: 35px;
    line-height: 200%;
  }

  .banner h1 p.small-title {
    font-size: 20px;
  }

  .section-catering {
    background-size: 40% auto;
    background-position: right bottom;
    padding: 125px 0 280px;
    text-align: center;
  }

  .section-catering .catering-content a {
    font-size: 1rem; /* 18px converted to rem (18 / 14 = 1.2857) */
    margin-bottom: 0.3571rem; /* 5px converted to rem (5 / 14 = 0.3571) */
    /* Other styles remain unchanged */
  }

  .section-food-menu h3 span,
  .banner h1 span {
    font-size: 50px;
    line-height: 50px;
  }

  .menu-box h5 {
    font-size: 40px;
    line-height: 60px;
  }

  .menu-box a {
    font-size: 14px;
    line-height: 20px;
  }

  .section-takeaway {
    background-size: 40% auto;
  }
}

@media screen and (max-width: 620px) {
  .banner h1 {
    font-size: 25px;
  }
  /* .flag-container {
    padding-top: 20px;
    padding-bottom: 35px;
  } */
  .banner h1 span {
    font-size: 30px;
    line-height: 30px;
  }

  .banner h1 p.small-title {
    font-size: 15px;
  }
  .about {
    padding: 65px 0 220px;
  }

  .about .about-text {
    float: none;
    padding-right: 0;
  }

  .about .about-main-text h2 {
    font-size: 25px;
    line-height: 200%;
  }

  .about .vertical-line-last {
    margin-right: 25px;
  }

  .about .about-main-text h2 span {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  .banner h1 {
    margin: 0 0 20px;
  }

  .banner h1 p.small-title {
    padding-top: 5;
  }
  /* .flag-container {
    padding-top: 20px;
    padding-bottom: 35px;
  } */
  .banner h1 br {
    display: none;
  }

  .banner h1 span {
    font-size: 40px;
    line-height: 50px;
  }

  .banner button {
    position: static;
    margin: 0 auto;
    padding: 12px 25px;
    width: auto;
  }

  .about .about-main-text {
    flex-direction: column;
    text-align: center;
  }

  .about .about-main-text h2:first-child {
    margin: 0 0 40px;
  }

  .about .vertical-line {
    height: 220px;
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -30px;
    display: none;
  }

  .about .vertical-line.no-animate {
    display: block;
  }

  .about .vertical-line-last {
    top: -20px;
  }

  .about {
    text-align: center;
    padding: 65px 0 0;
  }

  .about .about-img {
    display: none;
  }

  .about .about-img-small {
    display: inline-block;
  }

  .about p br {
    display: none;
  }

  .section-food-menu .container {
    padding: 0;
  }
  .section-food-menu h3 {
    font-size: 25px;
    padding: 0 15px;
  }

  .food-menu {
    display: none;
  }

  .food-menu-mobile {
    display: block;
    position: relative;
    width: 100%;
  }

  .food-menu-mobile .food-menu-item {
    position: relative;
    text-align: right;
    margin-bottom: 30px;
  }

  .food-menu-mobile .menu-box {
    display: inline-block;
    width: 320px;
    min-height: 250px;
    border-radius: 320px 0 0 320px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #fff;
    border-right: 0;
    position: relative;
  }

  .food-menu .menu-box::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.22);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 320px 0 0 320px;
  }

  .food-menu-mobile .menu-box h5 {
    margin-top: 80px;
  }

  .food-menu-mobile .food-menu-item.alternate {
    text-align: left;
  }

  .food-menu-mobile .food-menu-item.alternate .menu-box {
    border-radius: 0 320px 320px 0;
    border: 1px solid #fff;
    border-left: 0;
  }

  .section-takeaway {
    padding: 65px 0 0;
    text-align: center;
  }

  .section-takeaway h3 {
    font-size: 30px;
    line-height: 200%;
  }

  .section-takeaway .takeaway-text {
    padding-left: 15px;
  }

  .section-takeaway .sub-title {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 10px;
  }

  .section-takeaway p {
    font-size: 18px;
    line-height: 30px;
  }

  .section-takeaway .btn-rounded-blue {
    background: transparent;
  }

  .section-takeaway .takeaway-img {
    display: none;
  }

  .section-takeaway .takeaway-img-small {
    display: inline-block;
  }

  .section-chef {
    padding: 65px 0;
    text-align: center;
  }

  .section-chef .col-7,
  .section-chef .col-5 {
    width: 100%;
  }

  .section-chef .sub-title {
    font-size: 60px;
    line-height: 70px;
  }

  .section-chef h4 {
    font-size: 25px;
    line-height: 200%;
  }

  .section-chef br {
    display: none;
  }

  .section-chef p {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .section-chef .chef-img {
    max-width: calc(100% - 70px);
    margin: 50px auto;
  }

  .section-chef .chef-img::before {
    left: 10px;
    top: -10px;
  }

  .flowers {
    left: 50%;
    margin-left: -110px;
  }

  .section-catering {
    background-size: 50% auto;
    background-position: right bottom;
    padding: 125px 0 280px;
    text-align: center;
  }

  .section-catering .catering-content a {
    font-size: 1rem; /* 18px converted to rem (18 / 14 = 1.2857) */
    line-height: 1.4em; /* Assuming the line-height should be normal, around 1.4 is standard */
    margin-bottom: 0.3571rem; /* 5px converted to rem (5 / 14 = 0.3571) */
    /* Other styles remain unchanged */
  }

  .section-catering br {
    display: none;
  }

  .section-catering h4 {
    font-size: 25px;
    line-height: 200%;
  }

  .section-catering .sub-title {
    font-size: 15px;
    letter-spacing: 5px;
    margin-bottom: 50px;
  }

  .section-catering .btn-rounded-blue {
    background: transparent;
  }

  .about .about-img {
    max-width: 50%;
  }
}

.follow-text-box {
  text-transform: uppercase;
  letter-spacing: 2;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #121212;
  vertical-align: middle;
}

.follow-text-box a {
  width: 30px;
  height: 30px;
  transition: all ease-in 500ms;
  display: inline-block;
  vertical-align: middle;
}

.follow-text-box .icon-instagram {
  background-image: url("../images/social-media.png");
  background-size: 200%;
  border-radius: 100%;
  background-position: 30px 0;
}

.follow-text-box span {
  position: relative;
  top: 2px;
}
